# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment
venv/
env/

# Ignore log files
*.log

# Ignore .env files (store sensitive information like passwords, keys, etc.)
.env

# Ignore build artifacts
build/
dist/

